*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --std-app-margin: 20px;
    --std-font-size: 20px;

    --std-color: #000;
    --std-disabled-color: #aaa;

    --std-horizontal-padding: 10px;
    --std-vertical-padding: 5px;
    --std-padding: var(--std-vertical-padding) var(--std-horizontal-padding);

    --std-horizontal-gap: 10px;
    --std-vertical-gap: 10px;
    --std-gap: var(--std-vertical-gap) var(--std-horizontal-gap);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--std-font-size);
    color: var(--std-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}